:root {

    --fs-mobile: 1rem;
    --fs-tablet: 1.125rem;
    --fs-desktop: 1.25rem;

    --mobile-padding: 1.125rem;
    --tablet-padding: 3.125rem;
    --desktop-padding: 33.75rem;

}

.example-one {

    margin: 0 auto;
    width: 100%;

}



.media-queries h3 {

    var(--fs-mobile)

}

.media-queries p {

    var(--fs-mobile)

}

.creating-variables h3 {

    var(--fs-mobile)

}

.creating-variables p {

    var(--fs-mobile)

}

.using-cstm-vars h3 {

    var(--fs-mobile)

}

.using-cstm-vars p {

    var(--fs-mobile)

}

.scu-why-use-it h3 {
    var(--fs-mobile)

}

.scu-why-use-it p {

    var(--fs-mobile)

}