:root {

    --fs-mobile: 1rem;
    --fs-tablet: 1.125rem;
    --fs-desktop: 1.25rem;

    --mobile-padding: 1.125rem;
    --tablet-padding: 3.125rem;
    --desktop-padding: 67.5rem;

}

.example-one {

    margin: 0 auto;
    max-width: 67.5rem;

}

.example-two {

    margin: 0 auto;
    max-width: 67.5rem;

}
.example-three {

    margin: 0 auto;
    max-width: 67.5rem;

}

h2,
h3,
p {

    max-width: 67.5rem;

}

.media-queries {

    font-size: var(--fs-mobile);

    padding: 0 var(--mobile-padding);

}

.creating-variables  {

    font-size: var(--fs-mobile);

    padding: 0 var(--mobile-padding);

}

.using-cstm-vars  {

    font-size: var(--fs-mobile);

    padding: 0 var(--mobile-padding);

}

.scu-why-use-it  {

    font-size: var(--fs-mobile);

    padding: 0 var(--mobile-padding);

}

@media (min-width: 48em) {

    .example-one {

        margin: 0 auto;
        width: 90%;
    
    }
    
    .example-two {
    
        margin: 0 auto;
        width: 90%;
    
    }
    .example-three {
    
        margin: 0 auto;
        width: 90%;
    
    }

    .media-queries  {

        font-size: var(--fs-tablet);

        padding: 0 var(--tablet-padding);
    
    }
    
    .creating-variables  {
    
        font-size: var(--fs-tablet);

        padding: 0 var(--tablet-padding);
    
    }
    
    .using-cstm-vars  {
    
        font-size: var(--fs-tablet);

        padding: 0 var(--tablet-padding);
    
    }

    .scu-why-use-it  {
    
        font-size: var(--fs-tablet);

        padding: 0 var(--tablet-padding);
    
    }

}

@media (min-width: 67.5rem) {

    p {

        max-width: 67.5rem;
        margin: 0 auto;

    }

    h2,
    h3,
    p {

    max-width: 67.5rem;

    }

    .example-one {

        margin: 1rem auto;
        max-width: 67.5rem;
    
    }
    
    .example-two {
    
        margin: 1rem auto;
        max-width: 67.5rem;
    
    }
    .example-three {
    
        margin: 1rem auto;
        max-width: 67.5rem;
    
    }

    .media-queries  {

        font-size: var(--fs-desktop);

        padding: 0 var(--tablet-padding);
    
    }
    
    .creating-variables  {
    
        font-size: var(--fs-desktop);

        padding: 0 var(--tablet-padding);
    
    }
    
    .using-cstm-vars  {
    
        font-size: var(--fs-desktop);

        padding: 0 var(--tablet-padding);
    
    }
    
    .scu-why-use-it  {
    
        font-size: var(--fs-desktop);

        padding: 0 var(--tablet-padding);

    
    }

}