:root {

    --padding-1: 1rem;
    --padding-2: 1.25rem;
    --padding-3: 1.5rem;
    --padding-4: 2rem;

    --font-size-sml: 1rem;
    --font-size-med: 1.5rem;
    --font-size-lrg: 2rem;

    --font-1: 'Yantramanav', Arial, Helvetica, sans-serif;
    --font-2: 'Heebo', Arial, Helvetica, sans-serif;

    --margin-sml: 1rem;
    --margin-med: 1.5rem;
    --margin-large: 2rem;

    --max-width-mobile: 100%;
    --max-width-tablet: 37.5rem;
    --max-width-desktop: 67.5rem;

}

body {

    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
    padding: 0 var(--padding-1);
    max-width: var(--max-width-mobile);
    /* overflow: hidden; */

}

/* p {

    max-width: var(--max-width-mobile);

}

article {

    max-width: var(--max-width-mobile);

} */
